@charset "utf-8";
*{ margin: 0; padding: 0;}
body { line-height: 1; font-family:Geneva, Arial, Helvetica, sans-serif; padding:10px 30px;}
ol, ul { list-style: none; }
.clr { clear:both; }
img{ border:0;}

/*全局样式*/
body{ background:#96DBF2; font-size:12px;}
a{ color:#565656; text-decoration:none;}

.focus_ad{ background:url(../../images/b1.jpg) no-repeat; margin-bottom:8px; height:181px; width:530px; position:relative; overflow:hidden;}
.focus_ad ul{ height:100%; width:100%;}
.focus_ad li{ float:left; height:181px; width:530px;}
.focus_nav{ position:absolute; bottom:10px; right:10px;}
.focus_nav a{ background:#fff; border:1px solid #FF7300; color:#FF7300; display:block; float:left; line-height:16px; height:16px; width:16px; margin-right:6px; display:inline; text-align:center;}
.focus_nav :hover, .focus_nav .hover{ background:#FF7300; color:#fff; font-size:15px; font-weight:bold;}

.goodsoft{ background:#fff; border:1px solid #d7d7d7; position:relative; width:574px;}
.goodsoft h3, .goodsoft_nav{ background:url(../images/goodsoft_bg.png) no-repeat; margin:1px 0 0 1px; height:30px; }
.goodsoft h3{ color:#fff; font-size:14px; line-height:30px; height:30px; width:118px; padding-left:14px; position:absolute;}
.goodsoft_nav{ background:url(../images/goodsoft_bg.png) repeat-x 0 -30px; padding-left:128px;  margin:1px 1px 10px 0;}
.goodsoft_nav ul{margin-top:2px; position:absolute; _margin-top:4px;}
.goodsoft_nav li{ float:left; padding-right:8px;}
.goodsoft_nav li a{ background:url(../images/goodsoft_nav_bg.png) no-repeat; display:block; height:28px; width:63px; text-indent:-999em;}
.goodsoft_nav .goodsoft_all{}
.goodsoft_all a:hover, .goodsoft_all .hover{ background-position:0 -28px;}
.goodsoft_nav .goodsoft_ios a{ background-position:-63px 0;}
.goodsoft_ios a:hover,.goodsoft_nav .goodsoft_ios .hover{ background-position:-63px -28px;}
.goodsoft_nav .goodsoft_android a{ background-position:-126px 0; width:79px;}
.goodsoft_android a:hover,.goodsoft_nav .goodsoft_android .hover{ background-position:-126px -28px;}
.goodsoft_nav .goodsoft_symbian a{ background-position:-205px 0; width:79px;}
.goodsoft_symbian a:hover,.goodsoft_nav .goodsoft_symbian .hover{ background-position:-205px -28px;}
.goodsoft_nav .goodsoft_mtk a{ background-position:-284px 0;}
.goodsoft_mtk a:hover,.goodsoft_nav .goodsoft_mtk .hover{ background-position:-284px -28px;}
.goodsoft_main{ clear:both; margin:0 10px 10px; height:258px; width:552px; overflow:hidden;}
.ico_list{ float:left; width:552px;}
.ico_list li{ float:left; padding:14px 4px 0;}
.ico_list li a{ color:#2b748b; display:block; height:50px; width:70px; text-align:center;}
.ico_list li a:hover{ color:#3cf;}
/*.ico_list li img{ display:block; margin:0 auto;}*/
.ico_list .ico_info{ height:22px; line-height:22px;}
.ico_panel{ width:500%; overflow:hidden;}
.ico_item_panel{ float:left; height:258px; width:552px; overflow:hidden;}
.ico_item_panel div{ height:258px;}

