@charset "utf-8";
/*
_米
http://www.laoshu133.com
2012.07.10
*/
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{ margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{ font-size:100%;}
body{ line-height:1.5;}
:link, :visited, ins{ text-decoration:none;}
img{ border:0;}
ol, ul{ list-style:none;}
table{ border-collapse:collapse; border-spacing:0;}
blockquote, q{ quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{ content:''; content:none;}
sub, sup{ font-size:100%; vertical-align:baseline;}
input, button, textarea, select, optgroup, option{ font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit;}
/*Hack For IE6, IE7*/
input, button, textarea, select{ *font-size:100%;}
textarea{ overflow:auto;}

/*以下可选*/
address, caption, cite, code{ font-style:normal; font-weight:normal;}
abbr, acronym{ font-size:100%; font-weight:normal;}
/*--clearfix--*/
.clearfix:before, .clearfix:after{ content:"\200b"; display:block; height:0;}
.clearfix:after{ clear:both;}
.clearfix{ *zoom:1;}
