@charset "utf-8";
/*GLOBAL*/
html, body, div, span,    
h1, h2, h3, h4, h5, h6, p, blockquote, pre,   
a, abbr, acronym, address, big, cite, code,   
img, ins, kbd, q, s, samp,   
small, strike, strong,    
dl, dt, dd, ol, ul, li,   
fieldset, form, label, legend,   
table, caption, tbody, tfoot, thead, tr, th, td,hr {   
    margin: 0;   
    padding: 0;   
    border: 0;   
    outline: 0;   
    font-size: 100%;   
    vertical-align:baseline;
    background: transparent;
	text-decoration:none;   
}   
body {   
    line-height: 1;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}
ol, ul {   
    list-style: none;   
}   
blockquote, q {   
    quotes: none;   
}   


/*page css*/
html{ height:100%; overflow:hidden;}
body{ background:#1F2126; height:100%; overflow:hidden;}
#main{ height:100%; width:100%; padding:12% 0;}
	#showimg{ border:1px solid #666A72; display:block; background:url(../images/loading.gif) no-repeat center center; height:100px; padding:10px; margin:0 auto; width:100px;}
	#showimg.on{ background:none;}
	#showimg img{ display:block; margin:0 auto; height:100%; width:100%;}
	#showimg img.on{ background:#fff;}
	
#list{ background:#494949; position:absolute; left:0; bottom:0; height:102px; width:100%; text-align:center; z-index:9;}
	#menu{ background:#1F2126; position:absolute; left:0; top:-36px; text-align:center; padding-top:6px; height:32px; width:100%; z-index:11;}
		#menu a,#menu span{ display:inline-block; background:url(../images/bg1.gif) no-repeat 0 -62px; height:24px; margin:0 2px; width:24px;}
		#menu span{ background:#eee none; color:#666A72; height:14px; margin:0 4px 4px; width:1px;}
		#menu #nextpic{ background-position:-24px -62px;}
		#menu #addface{ background-position:-48px -62px;}
		#menu #savepic{ background-position:-72px -62px;}
	#list ul{ display:inline-block; height:100%; overflow:auto; overflow-y:hidden; width:70%; vertical-align:-36px; *display:inline; *zoom:1;}
	#list li{ float:left; height:100%; width:12.4%;}
	#list li a{ display:block; height:60px; margin:10px auto 0; padding:10px; border:1px solid #666A72; width:60px;}
	#list li a.on{ border:3px solid #5592ED; padding:8px;}
	#list li img{ background:#fff; height:100%; width:100%;}
	#prevbtn,#nextbtn{ display:inline-block; background:url(../images/bg1.gif) no-repeat 0 -26px; margin:0 10px 0; height:26px; width:72px; }
	#nextbtn{ background-position:-72px 0;}

























